package templates

import "github.com/TuanLe53/Go-HTMX-ChatApp/templates/layout"
import "github.com/TuanLe53/Go-HTMX-ChatApp/templates/components"

templ Index() {
    @layout.Layout(){
        <div>
            Home Page
            <div class="slide-it">
                @components.RoomList()
            </div>
        </div>
    }
}