package templates

import "github.com/TuanLe53/Go-HTMX-ChatApp/templates/layout"

templ Index() {
    @layout.Layout(){
        <div>
            Home Page
            <div id="rooms"></div>
            <button>Create room</button>
        </div>
    }
}