package templates

import "github.com/TuanLe53/Go-HTMX-ChatApp/templates/layout"
import "github.com/TuanLe53/Go-HTMX-ChatApp/templates/components"
import "github.com/TuanLe53/Go-HTMX-ChatApp/db/models"

templ Index(rooms []models.Room) {
    @layout.Layout(){
        <div>
            Home Page
            <div class="slide-it">
                @components.RoomList(rooms)
            </div>
        </div>
    }
}