package components

templ ErrorMessage(message string) {
    <div class="flex items-center justify-center mt-3 h-14 bg-slate-50 border-2 border-red-500 rounded-md">
        <p class="text-red-500 text-center">{message}</p>
    </div>
}