package components

import "github.com/TuanLe53/Go-HTMX-ChatApp/db/models"
import "fmt"

templ RoomCard(room *models.Room) {
    <div>
        <p>{room.Name}</p>
        <button
            type="button" 
            hx-get={ string(templ.URL(fmt.Sprintf("/room/%s", room.ID)))}
            hx-swap="innerHTML transition:true" 
            hx-target="#container"
        >
            Join
        </button>
    </div>    
}